/* =============================================================================
   WxT
   ========================================================================== */

.page-node-edit.wet-boew-gcweb {
  main.container {
  background-color: #FFF;
  }
}
.wet-boew-gcweb {
  #wb-cont {
    border-bottom: 1px solid #eee;
    margin-top: .45em;
    padding-bottom: 5px;
  }
}

.admin-views-view {
  .views-table .checkbox input[type=checkbox] {
    position: inherit;
    margin-left: 0px;
  }
  .form-item .input-group-addon {
    width: inherit;
  }
}
