/* =============================================================================
   WxT
   ========================================================================== */

.page-node-edit.wet-boew-gcweb {
  main.container {
  background-color: #FFF;
  }
}

.admin-views-view {
  .views-field-views-bulk-operations .checkbox input[type=checkbox],
  .views-table .checkbox input[type=checkbox] {
    position: inherit;
    margin-left: 0px;
  }
  .form-item .input-group-addon {
    width: inherit;
  }
}

.table .checkbox input[type=checkbox] {
  position: inherit;
  margin-left: 0px;
}

.home .blog .row h2 a,
.home .blog .row h3 a,
.home .blog .row h4 a {
  font-size: 29px;
}

.form-autocomplete .glyphicon {
  min-height: inherit;
  min-width: inherit;
  padding-left: initial;
}

ul.action-links .glyphicon {
  min-height: inherit;
  min-width: inherit;
  padding-left: initial;
}

#edit-actions .glyphicon {
  min-height: inherit;
  min-width: inherit;
  padding-left: initial;
}

.btn {
  .icon {
    padding-left: initial;
  }
}

.wet-boew-gcweb .panel-primary > .panel-heading {
  background-color: #335075;
  border-color: #335075;
}

.wet-boew-gcweb .panel-primary a:visited {
  color: #FFF;
}

.pane-block .alert-info .btn {
  color: #FFF;
}

.wet-boew-gcweb .page-header {
  border-bottom: 1px solid #af3c43;
  margin-top: 0.5em;
}
